body {
	font-family: sans-seriff;
	font-size: 120%;
	margin: 0;
	background-color: rgb(0, 160, 220);
}

header {
	background-color: rgb(10, 40, 70);
	padding: 1em;
	color: rgb(0, 110, 190);
}

h1 {
	margin: 0;
	font-size: 300%;
}

.container {
	display: flex; /* Enables flexbox */
	width: 100vw; /* Full width */
	height: 85vh; /* Adjust height */
}

/* Left Side - Login Section */
div.log {
	border-style: solid;
	border-color: rgb(0, 0, 100);
	border-width: 10px;
	background-color: rgb(0, 160, 220);
	width: 50%; /* Ensures 2 equal sections */
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center; /* Center content */
	align-items: center;
}

/* Right Side - Register Section */
div.register {
	border-style: solid;
	border-color: rgb(0, 0, 100);
	border-width: 10px;
	width: 50%; /* Ensures equal width */
	height: 100%;
	text-align: center;
	background-image: url(https://img.freepik.com/premium-vector/abstract-water-background-wave-illustration-art-concept_114588-20.jpg);
	background-size: cover; /* Ensure background fits */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(0, 50, 100);
}

/* Button Hover */
button:hover {
	cursor: pointer;
}

/* Centering Input Buttons */
input[type="submit"] {
	padding: 10px; 
	width: 140px; 
	border-radius: 50px; 
	border-style: none;
	font-size: 100%;
	cursor: pointer;
}

/* Centering Inputs */
input[type="text"],
input[type="password"] {
	margin-top: 10px;
	padding: 5px;
	width: 200px;
	text-align: center;
}

span.error {
	color: red;
}

/* Footer */
footer {
	background-color: rgb(0, 0, 60);
	position: fixed;
	bottom: 0;
	color: white;
	padding: 20px;
	text-align: center;
	width: 100%;
}