body {
	font-family: sans-seriff;
	font-size: 120%;
	margin: 0;
}

header {
	background-color: rgb(10, 40, 70);
	padding: 1em;
	color: rgb(0, 110, 190);
}

h1 {
	margin: 0;
	font-size: 300%;
}

button:hover {
	cursor: pointer;
}


div.register {
	
	border-radius: 5px;
	background-color: rgb(10, 40, 70);
}

input[type="submit"] {
	float:center;
        padding:5px; 
        width:120px; 
        border-radius:50px; 
        font-size: 100%;
 	cursor: pointer;
}

input[type="text"] {
	float:center;
	margin-top: 260px;
	padding: 5px;
	width: 200px;
}


input[type="password"] {
	float:center;
	margin-top: 5px;
	padding: 5px;
	width: 200px;
}

footer {
	background-color: rgb(0, 0, 60);
	position: fixed;
	bottom: 0;
	color: rgb(255, 255, 255);
	padding: 20px;
	text-align: center;
	width: 100%;
}